* {
  font-family: Palatino;
}
nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  align-items: center;
  border: 1px solid gray;

}
.nav-shipping {
  background-color: #757982;
  width: 100%;
  height: 45px;
  color: #e8ecf4;
  align-self: center;
}
nav li {
  list-style-type: none;
  padding-right: 2em;
  font-size: 20px;
}
.nav-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;


}
.nav-logo {
  height: 70px;
  overflow: hidden;
  align-self: auto;

}

.nav-list {
  display: flex;
  padding-bottom: 1em;
  flex-direction: row;
  height: 25px;
  align-items: center;

}
.nav-link {
  text-decoration: none;
  color: black;

}
.search-bar {
  margin-left: -2em;
}

body {
    background-color:#e8ecf2;
}
#coffee-time {
  display: block;
  margin: 2em auto 0 auto;
  width: 75%;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
}
.product {
  height: 250px;
  width: 250px;
  padding-left: 1.5em;
}
.nav-shipping,
 h1,
 h3,
 p,
 figcaption,
 iframe,
 .product-container,
 #copy {
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
}


footer {
  margin-top: 10em;
  border: 1px solid black;
  background-color: #757982;
}
